body{
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
    color: #666!important;
    background: #F5F6F6;
    position: relative;
    font-size: 16px;
}

a{
    color: #F95844!important;
}


.Bio, .stats, .portfolio{
    padding: 20px 0;
}

.App-header{
    position: relative;
}


.App-header ul{
    display:flex;
    flex-direction: row;
    justify-content: left;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.App-header ul a{
    list-style: none;
    display: inline-block;
    padding: 20px 20px 20px 0;
    color: #40403F;
    text-decoration: none;
}

.App-header ul a:hover{
    color: #9DFEFF;
}

.homeIcon{
    width: 30px;
}

.aboutIcon{
    top: 2.5px;
    position: relative;
    width: 23px;
}

.case-study{
    padding-top: 40px;
    padding-bottom: 40px;
}

.highlight{
    font-weight: 600;
    color:#F95844;

}

.subtitle{
    margin-top: 0;
    display: inline-block;
}

.caption{
    color: #999;
}

.portfolio{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: flex-start;
    position: relative;
    padding: 0 !important;
}

.portfolio .card{
    width: 100%;
    flex-grow: 1;
    border: none!important;
    padding: 0;
    padding-right: 10px;
    padding-bottom: 20px;
}

/* .portfolio .card:nth-child(2){
    padding-right: 0;
} */

.portfolio .card .proj-image {
    min-height: 400px;
    width: 100%;
    object-fit: cover;
    position: relative; 
}

.portfolio .card h4{
    text-align: center;
    color: black;
}

.footer .container ul a{
    list-style: none;
    display: inline-block;
    padding: 20px 20px 20px 0;
    text-decoration: none;
}

.profile-img{
    width: 100%;
}

.section{
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer ul{
    margin: auto;
    text-align: center;
}

.icon{
    width: 23px;
}

.icon-alt{
    width: 23px;
}

.codepenIcon{
    width: 20px;
}

.resumeIcon{
    width: 15px;
}

.footer{
    background: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* keyframes*/
@keyframes easeIn{
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes easeOut{
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.work{
    overflow: hidden;
    padding-top: 20px;
}

.work img{
   width: 100%;
}