body {
	padding: 0;
	margin: 0;
	font-family: "Roboto", sans-serif;
	background-color: #333 !important;
	color: rgb(223, 223, 223) !important;
	position: relative;
	font-size: 18px;
	font-weight: 400 !important;
}

p {
	line-height: 28px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400 !important;
}

.logoName {
	text-decoration: none !important;
}

a {
	text-decoration: none !important;
	color: turquoise !important;
}

a:hover {
	color: hsl(174, 68%, 69%) !important;
}

h1 {
	font-size: 1.7em !important;
	margin-bottom: 20px !important;
}

h3 {
	margin-bottom: 20px !important;
}

.project-list {
	font-size: 2rem;
}

.Bio,
.stats,
.portfolio {
	padding: 20px 0;
}

.App-header {
	position: relative;
}

.App-header ul {
	display: flex;
	flex-direction: row;
	justify-content: left;
	justify-content: space-between;
	padding: 0;
	margin: 0;
}

.App-header ul a {
	list-style: none;
	display: inline-block;
	padding: 20px 20px 20px 0;
	text-decoration: none;
}

.hero {
	width: 100%;
	padding-top: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.hero .container {
	padding-left: 0;
}

.epkBg {
	position: relative;
	background: url("./img/epk-pic.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
	background-position: center;
	z-index: 99;
}

.epkBg::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background: linear-gradient(10deg, rgb(18, 18, 18) 0%, rgba(255, 255, 255, 0) 76%);
	z-index: -1;
}

.blocks {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.blocks .block-link {
	width: 48%;
	height: 350px;
	background: #242424;
	margin-bottom: 40px;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	text-align: center;
	color: white;
}

.block-link a {
	border-radius: 20px;
	width: 260px;
	padding: 15px;
	color: white !important;
	text-align: center;
	margin: auto;
}

.header {
	padding-bottom: 50px;
}

.header-link {
	text-decoration: underline;
}

.homeIcon {
	width: 30px;
}

.aboutIcon {
	top: 2.5px;
	position: relative;
	width: 23px;
}

.about-content {
	align-self: center !important;
}

.case-study {
	padding-top: 40px;
	padding-bottom: 40px;
}

.subtitle {
	margin-top: 0;
	display: inline-block;
}

.portfolio {
	display: flex;
	flex-direction: row;
	flex-flow: row wrap;
	justify-content: flex-start;
	position: relative;
	padding: 0 !important;
}

.portfolio .card {
	width: 100%;
	flex-grow: 1;
	border: none !important;
	padding: 0;
	padding-right: 10px;
	padding-bottom: 20px;
	background: transparent;
}

/* .portfolio .card:nth-child(2){
    padding-right: 0;
} */

.portfolio .card .proj-image {
	min-height: 400px;
	width: 100%;
	object-fit: cover;
	position: relative;
}

.portfolio .card h4 {
	text-align: center;
}

.footer .container ul a {
	list-style: none;
	display: inline-block;
	padding: 20px 20px 20px 0;
	text-decoration: none;
}

.profile-img {
	width: 100%;
}

.section {
	padding-bottom: 50px;
	max-width: 800px;
	margin: auto;
}

.footer ul {
	margin: auto;
	text-align: center;
	padding: 0;
}

.footer ul a:last-child {
	padding: 0;
}

.icon {
	width: 23px;
}

.icon-alt {
	width: 23px;
}

.codepenIcon {
	width: 20px;
}

.resumeIcon {
	width: 15px;
}

.footer {
	color: white;
	display: flex;
	flex-direction: row;
}

.social-media {
	display: flex;
	padding-left: 0;
	margin-top: 10px;
	flex-direction: row;
	align-content: flex-end;
}

.social-media li a {
	color: white !important;
	padding-right: 20px;
}

.social-media li {
	list-style: none;
}

.social-media li a:hover {
	opacity: 0.8;
}

.social-media-icon {
	fill: white;
}

.licensing-cta-btn {
	display: inline-block;
	border-radius: 30px;
	margin: 10px 0 20px 0;
	padding: 20px 40px 20px 40px;
	background: white;
	cursor: pointer;
}

.licensing-cta-btn p {
	font-weight: bold;
	margin: 0 !important;
}

.licensing-cta-btn:hover {
	background: rgb(221, 221, 221);
}

/* keyframes*/
@keyframes easeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes easeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.work {
	overflow: hidden;
	padding-top: 20px;
}

.work img {
	width: 100%;
}

@media only screen and (max-width: 768px) {
	h1 {
		font-size: 1.7em !important;
	}

	h4 {
		font-size: 1em !important;
	}

	.about-content {
		padding-top: 30px;
	}

	.App-header ul a {
		padding: 20px 10px 20px 0;
	}

	.App-header ul {
		display: flex;
		flex-direction: row;
		text-align: center;
	}

	.App-header ul a,
	.footer ul a {
		font-size: 12px;
	}

	.header {
		width: 100%;
		padding-bottom: 0px;
	}

	.block-link a {
		width: 100%;
	}

	.section {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.social-media {
		margin: auto;
	}

	.social-media li {
		list-style: none;
	}

	.licensing-cta-btn p {
		font-weight: bold;
		margin: 0 !important;
		font-size: 0.7em;
	}

	.licensing-cta-btn {
		display: inline-block;
		border-radius: 30px;
		margin: 10px 0 20px 0;
		padding: 10px 20px 10px 20px;
		background: white;
		cursor: pointer;
	}

	.social-media svg {
		width: 25px;
		height: 25px;
	}

	.footer {
		justify-content: space-between;
	}
}

/* canvas{
    height: 100%!important;
    position: absolute;
    top: 0;
    z-index: -1;
  } */
